---
layout: default
title: Blog | Jameson Nyeholt | Technologist
---
<br/>
<div class="container">
    <div class="row">
        <div class="col-8">
            {% for post in site.posts limit:10%}
            <div class="row">
                <article class="col">
                    <header class="post_header">
                        <h3 class="post_title">
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h3>
                        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
                        {% if post.location %}
                        <span class="author-location">
                        <div data-icon="ei-location"></div>
                        <a href=https://www.google.com/maps/place/{{post.location}}" class="post_date">{{ post.location }}</a>
                    </span>
                        {% endif %}
                    </header>
                    <hr/>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="col-4">
            {% include sidebar.html %}
        </div>
    </div>

    <div class="pagination older-post">
        <a href="./archive">
            <data data-icon="ei-arrow-right"></data>
            Archive
        </a>
    </div>
</div>
