<footer>
  <div class="container global-footer">
    <nav class="navbar navbar-light bg-light">
      <span class="text-muted">
        <small>Proudly built in the <a href="/wiki/cascadia">Cascadia bioregion</a> with <a href="/about/website">open-source tools</a>.</small>
      </span>
      <ul class="navbar-nav">
        <li class="nav-item custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="darkSwitch" />
          <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </li>
      </ul>
    </nav>
  </div>
  <script src="{{ site.baseurl }}/js/dark-mode.js"></script>
</footer>