<br/>
<main role="main">
    <div class="container homepage">
        <div class="row">
            <div class="col">
                <h1 class"display-1">
                    Hi, I'm Jameson Nyeholt
                    <small class="text-muted">It's nice to meet you.</small>
                </h1>
                <p class="lead">
                    I am a Software Engineer who lives in the Pacific Northwest.  I'm a tinkerer and a collector of things.
                    <a href="/about">Learn More</a>
                </p>

                <img src="/assets/img/beach2.JPG" width="100%" height="auto" />
            </div>
        </div>
<!--        <hr />-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h2>Recent Posts</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h2>Projects</h2>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</main>



