<br/>
<div class="container">
    <div class="row">
<!--        <div class="col-sm-12 col-md-4 col-lg-3">-->
<!--            <div class="card">-->
<!--                <img src="assets/img/headshot.jpg" class="card-img-top" alt="Profile">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Jameson Nyeholt</h5>-->
<!--                    <span class="text-muted card-subtitle">Senior Software Engineer</span>-->
<!--                    <p class="card-text">-->
<!--                        Portland, Oregon USA</br>-->
<!--                        pronouns: <a href="">he/him</a></br>-->
<!--                        <a href="mailto:jnyeholt@hey.com">-->
<!--                            jnyeholt@hey.com-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col">
            <h4>Status</h4>
            <p class="lead">
                I'm currently leading a team at <a href="https://www.xandr.com">Xandr</a> that builds workflows for digital advertising publishers.
            </p>
            <p class="lead">
                During the COVID-19 pandemic I've been focused on a few different programming, music, and woodworking projects.
            </p>
            <hr />
            <h4>Current projects</h4>
            <span class="badge bg-dark">Alpha</span>
            <strong>
                <a href="https://github.com/Super-Cascadia/trimet-arrivals">Trimet Arrivals</a>
            </strong>
            <span> - An app for querying public transit information in the Portland, OR metro area.</span>
            <br/>

            <span class="badge bg-dark">Alpha</span>
            <strong>
                <a href="https://github.com/Super-Cascadia/super-cascadia-rpg">Super Cascadia RPG</a>
            </strong>
            <span> - A platform for building browser-based JRPG's.</span>
        </div>
    </div>
</div>


