<nav aria-label="Page navigation example">
  {% if page.previous %}
      {% assign previous = page.previous %}
  {% else %}
      {% assign previous = site.posts[0] %}
  {% endif %}

  {% if page.next %}
      {% assign next = page.next %}
  {% else %}
      {%comment%}
          As the array index start at zero we substract 1 to the total count,
          we then get the last post index in the site.posts array
      {%endcomment%}
      {% assign last lastPostIndex = site.posts | size | minus: 1 %}
      {% assign next = site.posts[lastPostIndex] %}
  {% endif %}
  <div>
      <a class="equalize" href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
          <div>
              <span> ← Newer : </span><br/>
              <span> {{next.title}}</span>
          </div>
      </a>
  </div>
  <div>
      <a class="equalize" href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
          <div>
              <span> {{previous.title}} </span><br/>
              <span> : Older →</span>
          </div>
      </a>
  </div>
</nav>
