<div class="row row-cols-1 row-cols-md-2">
    
    <div class="col mb-4">
      <div class="card">
        <img src="/assets/img/projects/game-of-life/game-of-life.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Game of Life</h5>
          <h6 class="card-subtitle mb-2 text-muted">Typescript web application.</h6>
          <p class="card-text">An implementation of <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">Conway's Game of Life</a> in TypeScript.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">
            <i class="fas fa-laptop-code"></i>
            Demo
          </a>
          <a href="https://github.com/wintermuted/game-of-life" class="card-link">
            <i class="fab fa-github"></i>
            Github
          </a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <!-- <div class="card-header">Trimet Arrivals</div> -->
        <img src="/assets/img/projects/trimet-arrivals/stops.png" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Trimet Arrivals</h5>
          <h6 class="card-subtitle mb-2 text-muted">Typescript / React.js web application.</h6>
          <p class="card-text">
            A dashboard for displaying arrivals at nearby Trimet Stops. 
            Makes use of the Trimet API. Built with TypeScript, React, and Redux.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">
            <i class="fas fa-laptop-code"></i>
            Demo
          </a>
          <a href="https://github.com/Super-Cascadia/trimet-arrivals" class="card-link"> 
            <i class="fab fa-github"></i>
            Github
          </a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-header">Gilded Rose React Env</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <h6 class="card-subtitle mb-2 text-muted">Typescript / React.js web application</h6>
          <p class="card-text">
            A Create React App environment for the Gilded Rose Refactoring Kata. 
            This was created to be used for technical interviews for Software Engineers to test React & Refactoring skills.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">
            <i class="fas fa-laptop-code"></i>
            Demo
          </a>
          <a href="https://github.com/Software-Engineering-Guild/gilded-rose-react-env" class="card-link"> 
            <i class="fab fa-github"></i>
            Github
          </a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-header">Arduino Weather Station</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  
</div>



