
<aside class="sidebar">
<!--        <h4>-->
<!--            <span>Adventures</span>-->
<!--        </h4>-->
<!--        <ul class="list-unstyled">-->
<!--            <li>-->
<!--                <i class="fas fa-map"></i>-->
<!--                <a href="{{ "/reading-list" | prepend: site.baseurl }}">Oregon Guide</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-map"></i>-->
<!--                <a href="{{ "/reading-list" | prepend: site.baseurl }}">Portland Guide</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <h4>-->
<!--            <span>Home & Hearth</span>-->
<!--        </h4>-->
<!--        <ul class="list-unstyled">-->
<!--            <li>-->
<!--                <i class="fas fa-leaf"></i>-->
<!--                <a href="{{ "/home/sustainability" | prepend: site.baseurl }}">Sustainability</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-utensils"></i>-->
<!--                <a href="{{ "/home/recipies" | prepend: site.baseurl }}">Recipies</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-boxes"></i>-->
<!--                <a href="{{ "/home/recipies" | prepend: site.baseurl }}">Organization</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-coins"></i>-->
<!--                <a href="{{ "/home/recipies" | prepend: site.baseurl }}">Finances</a>-->
<!--            </li>-->
<!--        </ul>-->

        <h4>
            <span>Building Software</span>
        </h4>
        <ul class="list-unstyled">
<!--            <li>-->
<!--                <i class="fas fa-user-friends"></i>-->
<!--                <a href="{{ "/building-software/collaboration" | prepend: site.baseurl }}">Collaboration</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-drafting-compass"></i>-->
<!--                <a href="{{ "/building-software/architecture" | prepend: site.baseurl }}">Architecture</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fas fa-fist-raised"></i>-->
<!--                <a href="{{ "/building-software/skills" | prepend: site.baseurl }}">Skills</a>-->
<!--            </li>-->
            <li>
                <i class="fas fa-tools"></i>
                <a href="{{ "/building-software/tools" | prepend: site.baseurl }}">Tools</a>
            </li>
        </ul>
</aside>
