
<aside class="sidebar">
    <ul class="list-unstyled">
        <li>
            <i class="fas fa-user"></i>
            <a href="{{ "/about" | prepend: site.baseurl }}">About Me</a>
        </li>
        <li>
            <i class="fas fa-id-card-alt"></i>
            <a href="{{ "/about/professional-background" | prepend: site.baseurl }}">CV</a>
        </li>
        <!-- <hr /> -->
        <li>
            <i class="fas fa-bullseye"></i>
            <a href="{{ "/about/mission" | prepend: site.baseurl }}">Mission</a>
        </li>
        <li>
            <i class="fas fa-brain"></i>
            <a href="{{ "/about/philosophy" | prepend: site.baseurl }}">Philosphy</a>
        </li>
        <!-- <hr /> -->
        <li>
            <i class="fas fa-toolbox"></i>
            <a href="{{ "/about/website" | prepend: site.baseurl }}">About this site</a>
        </li>
    </ul>
</aside>
