<aside class="sidebar">
    <p>
        {% if page.date %}
            <small class="text-muted">
                <i class="fas fa-calendar"></i>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%d %B %Y, %A" }}
                </time>
            </small>
        {% endif %}
        <br />
        {% if page.location %}
        <small class="text-muted">
            <i class="fas fa-map-marker-alt"></i>
            <a>{{ page.location }}</a>
        </small>
        {% endif %}
        <br />
        {% if page.author %}
        <small class="text-muted">
            <i class="fas fa-user-alt"></i>
            <a href="/about">
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ page.author }}</span>
                </span>
            </a>
        </small>
        {% endif %}
    </p>
    <hr />
    <!-- {% include post-navigation-side.html %}
    <hr /> -->
    <h5 class="text-muted">Category</h5>
    <ul class="list-unstyled">
        {% for category in page.categories %}
            <li>
                <small class="text-muted">
                    <i class="fas fa-folder"></i>
                    <a href="{{site.baseurl}}/weblog/category/{{category}}">
                        {{category}}
                    </a>
                </small>
            </li>
        {% endfor %}
    </ul>
    <h5 class="text-muted">Tags</h5>
    <ul class="list-unstyled">
        {% for tag in page.tags %}
            <li>
                <small class="text-muted">
                    <i class="fas fa-tag"></i>
                    <a href="/weblog/tag/{{ tag | slugify }}">
                        {{ tag | replace:'-', ' ' }}
                    </a>
                </small>
            </li>
        {% endfor %}
    </ul>
    <hr/>
</aside>