
<aside class="sidebar">
    <ul class="list-unstyled">
        <li>
            <i class="fas fa-bullseye"></i>
            <a href="{{ "/about/mission" | prepend: site.baseurl }}">Mission</a>
        </li>
        <li>
            <i class="fas fa-brain"></i>
            <a href="{{ "/about/philosophy" | prepend: site.baseurl }}">Philosphy</a>
        </li>
        <li>
            <i class="fas fa-toolbox"></i>
            <a href="{{ "/about/stack" | prepend: site.baseurl }}">Stack</a>
        </li>
    </ul>
</aside>
