
<aside class="sidebar">
    <ul class="list-unstyled">
        <li>
            <i class="fas fa-rss-square"></i>
            <a href="{{ "/weblog" | prepend: site.baseurl }}">Weblog</a>
        </li>
        <li>
            <i class="fas fa-journal-whills"></i>
            <a href="{{ "/journal" | prepend: site.baseurl }}">Journal</a>
        </li>
        <li>
            <i class="fas fa-file-alt"></i>
            <a href="{{ "/essays" | prepend: site.baseurl }}">Essays</a>
        </li>
        <li>
            <i class="fas fa-chalkboard"></i>
            <a href="{{ "/talks" | prepend: site.baseurl }}">Talks</a>
        </li>
        <li>
            <i class="fas fa-passport"></i>
            <a href="{{ "/travelouge" | prepend: site.baseurl }}">Travelogue</a>
        </li>
        <li>
            <i class="fas fa-list-alt"></i>
            <a href="{{ "/changelog" | prepend: site.baseurl }}">Changelog</a>
        </li>
        <li>
            <i class="fas fa-archive"></i>
            <a href="{{ "/archive" | prepend: site.baseurl }}">
                Archive
            </a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li>
            <i class="fas fa-book"></i>
            <a href="{{ "/library" | prepend: site.baseurl }}"> Library</a>
        </li>
        <li>
            <i class="fas fa-link"></i>
            <a href="{{ "/links" | prepend: site.baseurl }}"> Links</a>
        </li>
    </ul>
</aside>
