<br/>
<div class="container">
    <div class="row">
        <div class="col">
          <h1>
            <i class="fas fa-chalkboard"></i>
            <span>Talks</span>
          </h1>
          <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <p class="lead">Presentations & Talks given for work.</p>
            {% assign sorted-posts = site.posts | where: "category","presentation" %}
            {% for post in sorted-posts%}
            <div class="row">
                <article class="posts_index col">
                    <header class="post_header">
                        <h3 class="post_title">
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h3>
                        <span class="post_meta">
                                                    <i class="fas fa-calendar"></i>
                        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
                        {% if post.location %}
                        <span class="author-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <a class="post_date" href=https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
                        </span>
                    </span>
                        {% endif %}
                    </header>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>
