<div class="weblog-layout" id="weblog-gallery">
  <div class="weblog-layout-content">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      {% include weblog-nav.html %}
      {% assign posts = site.posts | where_exp:"post", "post.category != 'changelog'" %}
      {% assign featured_journal = posts | where: "category", "journal" | first %}
      {% assign featured_travelogue = posts | where: "category", "travelogue" | first %}

      <div class="row row-cols-1 row-cols-md-2 weblog-gallery-grid weblog-gallery-grid--featured">
        {% if featured_journal %}
          {% include weblog-gallery-card.html post=featured_journal %}
        {% endif %}
        {% if featured_travelogue and featured_travelogue.url != featured_journal.url %}
          {% include weblog-gallery-card.html post=featured_travelogue %}
        {% endif %}
      </div>

      <hr class="weblog-magazine-divider" aria-hidden="true" />

      <div class="row row-cols-1 row-cols-md-3 weblog-gallery-grid weblog-gallery-grid--standard">
        {% for post in posts %}
          {% unless post.url == featured_journal.url or post.url == featured_travelogue.url %}
            {% include weblog-gallery-card.html post=post %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      {% include sidebar.html %}
    </div>
  </div>
  </div>

</div>


