<footer class="article-footer">
  <hr/>
  <h5>Category</h5>
  {% for category in page.categories %}
  <span>
    <i class="fas fa-folder"></i>
    <a href="{{site.baseurl}}/category/{{category}}">
        {{category}}
    </a>
  </span>
  {% endfor %}
  <hr/>
  <h5>Tags</h5>
  {% for tag in page.tags %}
  <div class="post_title">
      <span>
        <i class="fas fa-tag"></i>
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">
              {{ tag | replace:'-', ' ' }}
          </a>
      </span>
  </div>
  {% endfor %}
  <hr/>
</footer>