<br/>
<div class="container">
    <div class="row">
        <div class="col">
          <h1>
            <i class="fas fa-rss-square"></i>
            <span>Weblog</span>
          </h1>
          <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <p class="lead">All weblog posts</p>
            {% for post in site.posts%}
            <div class="row">
                <article class="posts_index col">
                    <header class="post_header">
                        <h3 class="post_title">
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h3>
                            <span class="post_meta">
                                <i class="fas fa-calendar"></i>
                                <time class="post_date">
                                    {{ post.date | date: "%d %B %Y, %A" }}
                                </time>
                                <span>
                                    <i class="fas fa-folder"></i>
                                    <a href="{{site.baseurl}}/category/{{post.category}}">
                                        <span>{{ post.category }}</span>
                                    </a>
                                </span>
                                {% if post.location %}
                                    <span class="author-location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a class="post_date" href=https://www.google.com/maps/place/{{post.location}}">
                                            {{ post.location }}
                                        </a>
                                    </span>
                                {% endif %}
                            </span>
                    </header>
                    <!-- <hr/> -->
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3 col-sm-12">
            {% include sidebar.html %}
        </div>
    </div>

    <div class="pagination older-post">
        <span>
            <i class="fas fa-archive"></i>
            <a href="./archive">
                Archive
            </a>
        </span>
    </div>
</div>
