
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      This is a <a href="https://en.wikipedia.org/wiki/Personal_wiki">personal wiki</a> that I use to organize research, learnings & experiences to share with others.  
    </p>
    <h2>Main Hubs</h2>
    <ul class="list-unstyled">
      <li>
        <i class="fas fa-book"></i>
        <a href="{{ "/wiki/cascadia" | prepend: site.baseurl }}">Cascadia</a>
      </li>
      <li>
        <i class="fas fa-book"></i>
        <a href="{{ "/wiki/software-engineering" | prepend: site.baseurl }}">Software Engineering</a>
      </li>
    </ul>
  </div>
</div>
