@charset "utf-8";
$fa-font-path: "../webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";
@import "./monokai.css";

$dark-gray: #343a40;
$black: #000;
$green: #90a079;
$white: #FFF;
$dark-theme-background: #111111;
$dark-theme-text: #cecece;
$dark-theme-navbar: rgb(22, 27, 34);

body {
  // font-family: 'Open Sans', sans-serif;
  color: $black;

  .badge.bg-dark {
    color: $white;
  }

  p {
    font-size: 16px;
  }

  a {
    text-decoration: underline;
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }

  .sidebar {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline !important;
      }
    }  
  
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  nav.navbar {
    .navbar-brand {
      text-decoration: none;
    }
    
    li.nav-item {
      .navbar-brand, a {
        text-decoration: none;
      }
    }
  }
}

h3.post_title {
  font-size: 18px;
  margin-bottom: 0rem !important;
}

h1.article-title {
  font-size: 32px;
}

h1.post-title {
  font-size: 32px;
}


.post {
  h1.article-title {
    font-size: 32px;
  }

  img {
    width: 100%;
    // max-width: 500px;
  }

  .article-content {
    // p {
    //   font-size: 16px;
    //   line-height: 28px;
    // }

    h1 {
      font-size: 28px;
      font-weight: bold;
    }

    h2 {
      font-size: 26px;
      font-weight: bold;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }

    h5 {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.homepage {
  .weblog-content {
  ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.posts_index {
  margin-bottom: 16px;
  .post_header {
    .post_meta {
      font-size: 12px;
      color: rgba($dark-gray, 0.8);
      a.post_date {
        color: rgba($dark-gray, 0.8);
      }

      i.fa-archive, i.fa-folder {
        margin-left: 10px;
      }

      span.author-location {
        margin-left: 10px;
      }
    }
  }
}

.post-body {
  .article-header {
    .fa-map-marker-alt {
      margin-left: 10px;
    }
    .fa-user-alt {
      margin-left: 10px;
    }
    .fa-folder {
      margin-left: 10px;
    }
  }
}

aside.sidebar {
  h4 {
    font-size: 18px;
  }
}

.archive {
  // h1 {
  //   font-size: 32px;
  // }

  // h2 {
  //   font-size: 24px;
  // }

  // .archive_list {
  //   h3 {
  //     font-size: 18px;
  //   }
  // }
}

.global-footer {
  margin-top: 25px;
  ul {
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: $dark-theme-background !important;
    color: $dark-theme-text !important;

    .navbar {
      background: $dark-theme-navbar !important;
      .nav-link {
        color: white;
        // background-color: #FFF;
      }

      .navbar-toggler {
        color: rgba(255,255,255,.5);
        border-color: rgba(255,255,255,.1);

        .navbar-toggler-icon {
          color: white;
        }
      }
    }

    hr {
      border: 1px solid rgba($dark-theme-text, 0.1)
    }

    a {
      color: $white;
      &:hover {
        text-decoration: none !important;
        color: $white;
      }
    }

    .post_meta {
      color: $dark-theme-text !important;
      a {
        color: $dark-theme-text !important;
      }
    }

    .card {
      background-color: $dark-theme-background;
      border: 1px solid rgba($dark-theme-text, 0.1);
    }
  }

  
}
