@charset "utf-8";
$fa-font-path: "../webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

$dark-gray: #343a40;

body {
  p {
    font-size: 16px;
  }

  a {
    color: #90a079;
    &:hover {
      color: #90a079;
    }
  }
}

h3.post_title {
  font-size: 18px;
}

h1.article-title {
  font-size: 32px;
}

h1.post-title {
  font-size: 32px;
}


.post {
  h1.article-title {
    font-size: 32px;
  }

  img {
    width: 100%;
    max-width: 500px;
  }

  .article-content {
    // p {
    //   // font-size: 16px;
    //   // line-height: 28px;
    // }

    h1 {
      font-size: 28px;
      font-weight: bold;
    }

    h2 {
      font-size: 26px;
      font-weight: bold;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }

    h5 {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.posts_index {
  .post_header {
    .post_meta {
      font-size: 14px;
      color: rgba($dark-gray, 0.8);
      a.post_date {
        color: rgba($dark-gray, 0.8);
      }
    }
  }
}

aside.sidebar {
  h4 {
    font-size: 18px;
  }
}

.archive {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .archive_list {
    h3 {
      font-size: 18px;
    }
  }
}

.global-footer {
  margin-top: 100px;
  ul {
    margin-bottom: 0;
  }
}

$dark-theme-background: #2b2b2b;
$dark-theme-text: #acacac;
$dark-theme-navbar: #3c3f40;

@media (prefers-color-scheme: dark) {
  body {
    background: $dark-theme-background !important;
    color: $dark-theme-text !important;
    hr {
      border: 1px solid rgba($dark-theme-text, 0.1)
    }
    .post_meta {
      color: $dark-theme-text !important;
      a {
        color: $dark-theme-text !important;
      }
    }

    .card {
      background-color: $dark-theme-background;
      border: 1px solid rgba($dark-theme-text, 0.1);
    }
  }

  .navbar {
    background: $dark-theme-navbar !important;
  }
}
