---
layout: default
---

</br>
<div class="container archive">
  <div class="row">
    <div class="col">
      <h1>
        <i class="fas fa-folder"></i>
        <span>Category: {{ page.title }}</span>
      </h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9">
      {% for post in page.posts %}
            <div class="post_title">
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a> 
              -
              <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
            </div>
        {% endfor %}
        <hr />
        <h2>
          <i class="fas fa-folder"></i>
          All Categories
        </h2>
        <section class="archive_list">
          {% for category in site.categories %}
            <div class="category-name">
              <a href="{{site.baseurl}}/category/{{category | first}}">{{category | first }}</a>
            </div>
          {% endfor %}
        </section>
    </div>
    <div class="col-sm-12 col-md-3">
      {% include sidebar.html %}
    </div>
  </div>
</div>