---
layout: default
---
</br>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="article-title" itemprop="name headline">{{ page.title }}</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                <header class="artilce_header">

                    <p class="artilce_meta">
                        {% if page.date %}
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                            {{ page.date | date: "%d %B %Y, %A" }}
                        </time>
                        {% endif %}

                        <!-- {% if page.location %}
                        <div data-icon="ei-location"></div>
                        <a href=https://www.google.com/maps/place/{{page.location}}">{{ page.location }}</a>
                        {% endif %} -->

                        {% if page.author %}
                        •
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ page.author }}</span>
                        </span>
                        {% endif %}
                    </p>
                </header>

                <div class="article-content" itemprop="articleBody">
                    {{ page.content }}
                </div>

                <footer class="article-footer">
                    {% for category in page.categories %}
                    <a href="{{site.baseurl}}/archive#{{category}}">
                        <data data-icon="ei-archive"></data>
                        {{category}}
                    </a>
                    {% endfor %}
                    <hr/>
                    <!--
                      {% include share.html %}
                      <hr/> -->
                    {% include author.html %}
                </footer>
                {% include dq.html %}
            </article>
        </div>
        <div class="col-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
