---
layout: default
---
</br>

<div class="container post-body">
    <div class="row"> 
        <div class="col">
            <h1 class="article-title" itemprop="name headline">{{ page.title }}</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <!-- {% include post-navigation.html %}
            <br />
            <hr /> -->
            <article class="body-content post" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="article-content" itemprop="articleBody">
                    {{ page.content }}
                </div>
            </article>
            <hr />
            {% include post-navigation.html %}
        </div>
        <div class="col-md-3 col-sm-12">
            {% include sidebar-post.html %}
        </div>
    </div>
</div>
