---
layout: default
---

</br>
<div class="container archive">
  <div class="row">
    <div class="col">
      <h1>
        <i class="fas fa-tag"></i>
        <span>Tag: {{ page.title }}</span>
      </h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9">
        {% for post in page.posts %}
            <div class="post_title">
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a> 
              -
              <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
            </div>
        {% endfor %}
      <hr>

      <h2>
        <i class="fas fa-tags"></i>
        Tag Cloud
      </h2>
      {% include tag-cloud.html %}

    </div>
    <div class="col-sm-12 col-md-3">
      {% include sidebar.html %}
    </div>
  </div>
</div>
